@import "../../../styles/global.variables.scss";

.playButton {
  border-radius: 100%;
  border: solid 1px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: $liteflixBlackColorOpacity;
  cursor: pointer;

  &:hover {
    background-color: $liteflixPrimaryColor;
    border: 1px #000 solid;
    svg path {
      fill: #000;
      stroke: #000;
    }
  }


  &.small {
    height: 24px;
    width: 24px;
    padding-left: 2px;
  }

  &.big {
    height: 40px;
    width: 40px;
  }
}
